@mixin neo-checkbox-background($color) {
  &.neo-checkbox {
    &:not(.neo-checkbox-disabled)::before {
      background-color: $color;
      box-shadow: inset 1px 1px 2px darken($color, 25%);
    }
    &:not(.neo-checkbox-disabled)::after {
      box-shadow: inset -1px -1px 2px lighten($color, 15%);
    }

    &:not(.neo-checkbox-disabled):hover::before {
      box-shadow: inset 2px 2px 4px darken($color, 25%);
    }
    &:not(.neo-checkbox-disabled):hover::after {
      box-shadow: inset -2px -2px 4px lighten($color, 15%);
    }

    &:not(.neo-checkbox-disabled):active::before {
      box-shadow: inset 2px 2px 5px darken($color, 25%);
    }

    &:not(.neo-checkbox-disabled):active::after {
      box-shadow: inset -3px -3px 5px lighten($color, 15%);
    }
  }

  &.neo-checkbox-disabled {
    &::before {
      background-color: lighten($color, 10%);
      box-shadow: inset 1px 1px 2px darken($color, 1%);
    }

    &::after {
      box-shadow: inset -3px -3px 5px lighten($color, 12%);
    }
  }
}


